<div class="card ">
  <div class="card-header">
    <h3 class="card-title"><%= user.name %></h3>
  </div>
  <div class="card-body ">
    <%= form_for(user) do |f| %>
            <% if user.image? %>
                <%= image_tag user.image.url(:thumb200) %>
            <% else %>
                <%= image_tag "noimage.png", :size => '200x200' %>
            <% end %>
            <% if current_user == @user %>
                <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
                <%= f.submit '更新する', class: 'btn btn-primary' %>
            <% end %>
    <% end %>
  </div>
</div>
<%= render 'users/room_button'%>