<div class="row">
  <aside class="col-sm-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%= current_user.name %></h3>
    </div>
    <div class="card-body">
      <%= form_for(current_user) do |f| %>
            <% if current_user.image? %>
                <%= image_tag current_user.image.url(:thumb200) %>
            <% else %>
                <%= image_tag "noimage.png", :size => '100x100' %>
            <% end %>
      <% end %>
    </div>
  </div>
  </aside>
  <div class="col-sm-8">
    <%= render 'posts/posts', posts: @posts %>
  </div>
</div>
